.frame-toolbar {
    height: 72px;
    border-bottom: 1px solid #E5E5E5; 
}

.frame-toolbar__content {
    height: 72px;
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
    margin-right: 48px;
}

.frame-toolbar__content_right {
    width: 108px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.frame-toolbar__content_left {
    margin-top: 26px;
}