.side__button {
    color: #82B284;
    width: 0px;
    height: 44px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.side__button_active {
    background: #EEEEEE;
    width: 224px;
    height: 44px;
    transition: 0.5s;
    opacity: 1;
    visibility: visible; 
}

.side__button:hover {
    background: #EEEEEE;
}

.side__button__content {
    display: flex;
    align-items: center;
    margin-left: 17px;
    height: 44px;
}

.side__button__content__text {
    margin-left: 13px;
    width: 90px;
    color: #82B284;
}

.side__header {
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side__header_bold {
    font-weight: 700;
    font-size: 16px;
    width: 145px;
    font-family: 'Noto Sans';
}

.side__header_normal {
    font-weight: 400;
    font-size: 12px;
    width: 135px;
    font-family: 'Noto Sans';
}

.side {
    width: 0px;
    background: #F7F7F7;
    height: 900px;
    box-shadow: -20px 0 20px -20px rgba(0, 0, 0, 0.05) inset;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.side_active {
    width: 224px;
    background: #F7F7F7;
    height: 900px;
    box-shadow: -20px 0 20px -20px rgba(0, 0, 0, 0.05) inset;
    transition: 0.5s;
    opacity: 1;
    visibility: visible; 
}