.container {
    display: flex;
}

.content__companies-page {
    width: 100%;
}

.content__auth-page{
    width: 100%;
    padding: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__auth-page__title {
    color: #82B284;
}

.content__auth-page__form {
    margin-top: 12px;
}